<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <!--iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--iphone的私有标签，它指定的iphone中safari顶端的状态条的样式；-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--忽略将页面中的数字识别为电话号码-->
    <meta content="telephone=no" name="format-detection">
    <!--去除Android平台中对邮箱地址的识别-->
    <meta content="email=no" name="format-detection" />
    <!--如果引入moblieUtil请删除此标签-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
</head>
